.btnComments {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .arrow {
    transition: all 200ms ease;
  }

  &.opened {
    .arrow {
      transform: rotate(-180deg);
    }
  }
}
